<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>contact_us</title>

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/static/contact.css">

</head>
<body>
    <header>
	
        <nav>
            <div class="logo"> <h1 style="font-size: 20px;"> Ear detect </h1> </div>
            <div class="menu">
                <a href="{{url_for('home')}}" >Home</a>
                <a href="{{url_for('about')}}" target="_blank">about</a>
                <a href="{{url_for('contact')}}">contact</a>
            </div>
        </nav>
        
            
        
        
        </header>
<div class="form-container">

   <form action="contact_us.php" method="post" autocomplete = "off">
      <h3>send us feedback</h3>
      
   
      <input type="text" name="name" required placeholder="Name">
      <input type="email" name="email" required placeholder="Email">
      <input type="numeric" name="number" required placeholder="number">
      <input type="text" name="subject" required placeholder="subject">
      <input type="text" name="message" required placeholder="message">
     
      <input type="submit" name="submit" value="send message" class="form-btn">
   </form>

</div>

</body>
</html>